body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.topnav{
    background-color: #000000;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav-right {
    float: right;
}

.header {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.row:after {
    content: "";
    clear: both;
    display: block;
    width: 60%;
}
.content {
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
    width: 66.66%;
}
.sidebar {
    float: left;
    width: 33.33%;
    background-color: #f1f1f1;
    padding: 15px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #1abc9c;
    color: white;
}
